h1{
    background-color: brown;
    color: white;
    display: block;
}

h2{
    background-color: brown;
    color: white;
    display: inline;
    height: 200px;
    width: 200px;
}

h3{
    background-color: brown;
    color: white;
    display: inline-block;
    height: 200px;
    width: 200px;

}


div span{
    display: block;
    background-color: brown;
    margin-bottom: 5px;
}

#hello{
    display: none;
}

